.main-container {
  height: 100%;
  overflow: auto;
  background-color: #888888;
  .element {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
  }
  .element--big-height {
    height: 220rem;
    background-color: #00b46e;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
  }

  .child-container {
    background-color: #5c57c9;
    height: 200px;
    overflow: auto;
    .overflow-container {
      background-color: greenyellow;
      height: 250px;
    }
  }
}